<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/info" method="POST">
        <p>用户名：<input type="text" name="username"></p>
        <p>年龄：<input type="number" name="age"></p>
        <p>学校：<input type="text" name="school"></p>
        <p>学历：<input type="text" name="degree"></p>
        <p>家乡：<input type="text" name="hometown"></p>
        <input type="submit" value="提交" />
    </form>
</body>
</html>